* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 80%;
  max-width: 1200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container span {
  font-size: 3rem;
  margin-right: 10px;
  font-weight: bold;
}

.hidden {
  display: none;
}

.block {
  display: block;
}

.buon-anno {
  font-size: 6rem;
}