* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 80%;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container div:first-child {
  font-size: 3rem;
  font-weight: bold;
}

.container-button {
  margin-top: 20px;
}

button {
  font-size: 2rem;
  padding: 10px 40px;
  border-radius: 20px;
  border: none;
  color: white;
}

button:hover {
  opacity: 0.8;
}

button:active {
  opacity: 0.7;
}

.container-button button:first-child {
  background-color: rgb(0, 179, 0);
  margin-right: 10px;
}

.container-button button:nth-child(2) {
  background-color: red;
  margin-right: 10px;
}

.container-button button:last-child {
  background-color: rgb(255, 183, 50);
}